STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_KEY=
STORAGE_ENDPOINT= #For Cloudflare R2, use the endpoint provided by Cloudflare. For AWS S3, leave this blank.
STORAGE_BUCKET_NAME=
STORAGE_REGION= #For AWS S3, replace with your bucket's region (e.g. us-east-1). For R2, keep as "auto"